<h2>Filtres :</h2>
<div id="options_div">
  <mat-form-field appearance="fill">
    <mat-label>Type :</mat-label>
    <mat-select [(ngModel)]="selectedType">
      <mat-option (click)="sendType()" *ngFor="let type of types" [value]='type'>
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Groupe :</mat-label>
    <mat-select [(ngModel)]="selectedGroupe">
      <mat-option (click)="sendGroupe()" *ngFor="let groupe of groupes" [value]='groupe'>
        {{groupe}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Catégorie :</mat-label>
    <mat-select [(ngModel)]="selectedCategorie">
      <mat-option (click)="sendCategorie()" value="Tous">Tous</mat-option>
      <mat-option (click)="sendCategorie()" *ngFor="let categorie of categories" [value]='categorie'>
        {{categorie.nom_categorie}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
