<div id="terminaison_div">
  <h2>Terminaison :</h2>
  <mat-chip-listbox aria-label="Terminaison">
    <mat-chip-option (click)="sendTerminaison('う')">う</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('く')">く</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('ぐ')">ぐ</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('す')">す</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('つ')">つ</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('ぬ')">ぬ</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('ぶ')">ぶ</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('む')">む</mat-chip-option>
    <mat-chip-option (click)="sendTerminaison('る')">る</mat-chip-option>
  </mat-chip-listbox>
</div>
